@media (max-width: 1100px) {
    main {
        padding: 0 10px;
    }
}

#food-page {
    background-color: white;
    box-shadow: 0px 0px 2px 1px rgb(207, 207, 207);
    padding: 20px;
    margin-top: 40px;
}
@media (max-width: 500px) {
    #food-page {
        padding: 10px;
    }
}
@media (min-width: 1100px) {
    #food-page {
        padding: 30px;
    }
}

h1 {
    text-align: left;
    color: var(--blue);
    font-size: 34px;
    margin-bottom: 15px;
    margin-top: 10px;
}
@media (max-width: 500px) {
    h1 {
        font-size: 28px;
    }
}
@media (min-width: 1100px) {
    h1 {
        font-size: 38px;
    }
}

#food-info-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; /* 25px */
    /* margin-left: 15px; */
    width: 70%;
}

@media (max-width: 900px) {
    #food-info-section {
        flex-direction: column;
        width: 100%;
    }

    #food-serving-size-container {
        margin-bottom: 10px;
    }
}

#food-info-container-1 {
    flex-basis: 50%;
}

#food-info-container-2 {
    flex-basis: 50%;
}

.food-info {
    text-align: left;
    overflow-wrap: normal;
}

#food-category-container,
#food-brand-name-container,
#food-brand-owner-container,
#food-serving-size-container,
#food-info-container-2 {
    display: flex;
    gap: 5px;
    text-align: left;
}

#food-category-container,
#food-brand-name-container,
#food-brand-owner-container,
#food-serving-size-container {
    margin-bottom: 5px;
}

.food-info-title {
    width: fit-content;
    font-weight: bold;
}

#portion-container {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: 15px; */
}

#portion-input-container {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: white;
    border: 1px solid var(--black);
    padding: 5px 7px 5px 10px;
    width: 65px;
}

#portion-label {
    font-size: 18px;
    /* color: var(--blue); */
    color: var(--black);
    margin-right: 5px;
    /* color: #1A936F; */
}

#portion-input {
    appearance: textfield;
    text-align: end;
    font-size: 16px;
    width: 50px;
    height: 100%;
    border: none;
}

#food-nutrients-table-section {
    margin: 0 auto;
    margin-top: 15px;
    /* max-width: 900px; */
    /* border: 2px solid #E6E8F0; */
}
@media (max-width: 500px) {
    #food-nutrients-table-section {
        margin-top: 5px;
    }
}

#food-nutrients-table-content-container {
    border: 2px solid #E6E8F0;
}

#food-nutrients-table-title-container {
    display: flex;
    align-items: end;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    color: var(--blue);
    /* color: var(--black); */
    /* color: #094a75;  094a75 5a6694 */
    font-weight: bold;
    font-size: 16px;
    /* background-color: #EBEEF8; */
}

@media (max-width: 500px) {
    #food-nutrients-table-title-container  {
        font-size: 14px;
    }
    #portion-input {
        font-size: 16px;
    }
}
@media (min-width: 1100px) {
    #food-nutrients-table-title-container  {
        font-size: 18px;
    }
}

#food-nutrients-title-name {
    text-align: left;
    flex-basis: calc(66.66% - 15px);
    margin-left: 15px;
}

#food-nutrients-title-amount,
#food-nutrients-title-daily-value {
    text-align: right;
    flex-basis: 16.66%;
}

.unknown {
    font-size: smaller;
    color: rgb(104, 104, 104);
}