/* main {
    width: 1200px;
    max-width: 1400px;
} */
/* main {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 40px 0px;
    font-size: 16px;
    align-self: center;
    max-width: 100vw;
} */
@media (max-width: 1100px) {
    main {
        padding: 0 10px;
    }
}

#food-page {
    background-color: var(--background2);
    color: var(--text);
    box-shadow: 0px 0px 2px 1px var(--shadow);
    padding: 30px;
    /* margin-top: 40px; */
    margin: 40px 0;
    width: calc(100vw - 60px);
}
@media (max-width: 500px) {
    #food-page {
        width: calc(100vw - 20px);
        padding: 30px 10px;
        margin: 0;
        box-shadow: none;
    }
}
@media (min-width: 1100px) {
    #food-page {
        padding: 60px; /* 30 */
        width: 800px;
    }
}

#food-description {
    text-align: left;
    color: var(--accent);
    font-size: 34px;
    margin-bottom: 15px;
    margin-top: -5px;
}
@media (max-width: 500px) {
    #food-description {
        font-size: 28px;
    }
}
@media (min-width: 1100px) {
    #food-description {
        font-size: 38px;
    }
}

#portion-container {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: 15px; */
}

#portion-input-container {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: var(--background2);
    border: 1px solid var(--text);
    padding: 5px 7px 5px 10px;
    width: 65px;
}

#portion-label {
    font-size: 18px;
    /* color: var(--blue); */
    color: var(--text);
    margin-right: 5px;
    /* color: #1A936F; */
}

#portion-input {
    appearance: textfield;
    color: var(--text);
    background-color: var(--background2);
    text-align: end;
    font-size: 16px;
    width: 50px;
    height: 100%;
    border: none;
}

#food-nutrients-table-section {
    margin: 0 auto;
    margin-top: 15px;
    /* max-width: 600px; */
}
@media (max-width: 500px) {
    #food-nutrients-table-section {
        margin-top: 5px;
    }
}

#food-nutrients-table-content-container {
    border: 2px solid var(--shadow);
}

#food-nutrients-table-title-container {
    display: flex;
    align-items: end;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 17px;
    padding-left: 17px;
    color: var(--accent);
    /* color: var(--black); */
    /* color: #094a75;  094a75 5a6694 */
    font-weight: bold;
    font-size: 16px;
    /* background-color: #EBEEF8; */
}

@media (max-width: 500px) {
    #food-nutrients-table-title-container  {
        font-size: 14px;
    }
    #portion-input {
        font-size: 16px;
    }
}
@media (min-width: 1100px) {
    #food-nutrients-table-title-container  {
        font-size: 18px;
        padding-right: 32px;
        padding-left: 32px;
    }
}

#food-nutrients-title-name {
    text-align: left;
    /* flex-basis: calc(66.66% - 15px); */
    flex-grow: 1;
}

#food-nutrients-title-amount,
#food-nutrients-title-daily-value {
    text-align: right;
    flex-basis: 16.66%;
}

#food-nutrients-title-amount {
    margin-right: 2px;
}

@media (max-width: 500px) {
    #food-nutrients-title-amount {
        flex-basis: 30%;
        margin-right: 7px;
    }
}

@media (min-width: 1100px) {
    #food-nutrients-title-amount {
        margin-right: 4px;
    }
}

.unknown {
    font-size: smaller;
    color: rgb(104, 104, 104);
}