.nutrient-row {
    display: flex;
    gap: 5px;
    background-color: #f8f9ff;
    padding: 10px 0;
    padding-right: 15px;
}
.nutrient-row.dark-background {
    background-color: #edf1fc; /* f4f6fd FAFBFF EBEEF8 */
}


.nutrient-title {
    margin-left: 15px;
    /* color: rgb(68, 68, 68); */
    font-weight: bold;
}

.nutrient-name {
    text-align: left;
    flex-basis: calc(66.66% - 15px);
    margin-left: 30px;
}
.nutrient-name.nested {
    margin-left: 45px;
}
@media (min-width: 1100px) {
    .nutrient-name {
        margin-left: 45px;
    }
    .nutrient-name.nested {
        margin-left: 75px;
    }
}

.nutrient-amount,
.nutrient-daily-value {
    text-align: right;
    flex-basis: 16.66%;
}