.nutrient-row {
    display: flex;
    gap: 5px;
    background-color: white;
    padding: 10px 0;
    padding-right: 15px;
}

.nutrient-row.dark-background {
    background-color: #f4f6fd; /* FAFBFF EBEEF8 */
}

.nutrient-title {
    margin-left: 15px;
    /* color: rgb(68, 68, 68); */
    font-weight: bold;
}

.nutrient-name {
    text-align: left;
    flex-basis: calc(66.66% - 15px);
    margin-left: 30px;
}

.nutrient-amount,
.nutrient-daily-value {
    text-align: right;
    flex-basis: 16.66%;
}