main {
    margin: 50px 0;
    /* border-bottom: 1px solid #115F94; */
    font-size: 16px;
}

#food-list-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    font-size: 16px;
}

@media (max-width: 500px) {
    main,
    #food-list-header {
        font-size: 14px;
    }
}
@media (min-width: 1100px) {
    main,
    #food-list-header {
        font-size: 18px;
    }
}

#food-list-description-header {
    flex-basis: 40%;     /* 66.66% */
    display: flex;
    justify-content: flex-start;
}

#description-title {
    margin-left: 15px;
}

#food-list-brand-header,
#food-list-brand-owner-header,
#food-list-category-header {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
}

.food-row {
    display: flex;
    gap: 5px;
    height: auto;
    padding: 12px 0;
    border-top: 1px solid #7c7c7c; /* 115F94 */
}

.food-row.dark-background {
    background-color: #EAEAEA;
}

.food-row:hover {
    background-color: #cfcfcf;
}

.description-wrapper {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
}
.description-wrapper > * {
    text-align: left;
}

.food-category-wrapper,
.food-brand-wrapper,
.food-brand-owner-wrapper {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

button {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Source Sans Pro', Inter, Avenir, Helvetica, Arial, sans-serif;
    color: var(--blue);
    text-decoration: underline;
}
@media (max-width: 500px) {
    button {
        font-size: 14px;
    }
}
