#theme-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

#theme-button:hover {
    background-color: var(--background);
}

#theme-button.light {
    background-image: url('../assets/light-mode.svg');
}

#theme-button.dark {
    background-image: url('../assets/dark-mode.png');
}

@media (max-width: 700px) {
    #theme-button {
        margin-left: -5px;
    }
}